/* SETUP */
* {
    margin: 0;
    padding: 0;
    /* font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: sans-serif;
}

.center {
    margin: auto;
    width: fit-content;
}


/* HEADER */
.header {
    overflow: hidden;
    border-bottom: 1px solid #000000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.header-menu a {
    float: left;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: x-large;
    color: black;
}

#header-menu-title {
    color: red;
}

#change-language {
    color: green;
}

.header-icon {
    display: none;
}

#change-language-icon {
    padding-top: 5px
}

.menu-right {
    float: right;
}

@media screen and (max-width: 630px) {

    .header-text {
        display: none;
    }

    .header-icon {
        width: 15vw;
        display: inline;
    }

    #change-language-icon {
        font-size: 13vw;
    }
}

@media screen and (max-width: 630px) {

    .header-menu {
        margin: auto;
        width: fit-content;
    }

}

/* MAIN */

.main {
    margin-top: 50px;
}

@media screen and (max-width: 630px) {

    .main {
        padding-top: 12vw;
    }

}

    /* HOME */

        /* WELCOME */

        .welcome-container {
            border-bottom: 3px black solid;
            height: 9vw;
            padding-top: 10vw;
        }

        .welcome-title {
            font-size: xx-large;

        }

        .welcome-subtitle {
            font-size: large;
            color: rgba(0, 0, 0, 0.4);
        }

        @media screen and (max-width: 630px) {
            .welcome-container {
                padding-top: 2vw;
                height: fit-content;
            }
        }

        /* GREETING */

        .greeting-message {
            background-color: antiquewhite;
            margin: 30px 30px 10px;
            padding: 30px;
            font-size: large;
        }

        /* MAIN MENU */
        
        .option {
            border: 1px solid black;
            width: fit-content;
            margin: 10px;
        }

        .option a {
            text-decoration: none;
            color: black;
        }

        .chapters-option {
            float: left;
            background-color: red;
        }

        .about-us-option {
            float: right;
            background-color: green;
        }

        @media screen and (max-width: 630px) {
    
            .welcome-title {
                font-size: 40px;
                padding-top: 20px;
            }
        
            .welcome-subtitle {
                padding-bottom: 20px;
            }
        
        }


    /* CHAPTERS */

        /* CHAPTER OVERVIEW */

        .chapter-list li {
            padding: 10px 0;
            list-style: none;
        }

        .chapter-list a { /* DO NOT USE TO EDIT TEXT, ONLY LINK LOOK */
            text-decoration: none;
        }

        .chapter-list p {
            width: 60vw;
            background-color: white;
            border: 1px black solid;
            padding: 40px;
            font-size: 30px;
            color: red;
            text-align: center;
        }

        @media screen and (max-width: 630px) {
        
            .chapter-list li {
                padding: 5px 0;
            }
        
            .chapter-list p {
                font-size: 20px;
                padding: 10px 0;
            }

        }

        /* CHAPTER PAGES */

        .title, .description, .metadata {
            width: 50vw;
            margin: 0 0 5px 20vw;
            border: 1px solid black;
            border-bottom-right-radius: 10px 10px;
            padding: 10px;
        }

        .title {
            background-color: #245501;
        }

        .title .chapter-title {
            font-size: xx-large;
        }

        .title .chapter-subtitle {
            font-size: x-large;
        }

        .description {
            background-color: #538D22;
            height: fit-content;
            font-size: medium;
        }

        .metadata {
            background-color: #73A942;
            font-size: smaller;
        }

        .sources li {
            list-style: none;
        }

        @media screen and (max-width: 630px) {

            .title, .description, .metadata {
                width: 91vw;
                margin-left: 2vw;
            }

            .title .chapter-title {
                font-size: 40px;
            }

            .title .chapter-subtitle {
                font-size: 20px;
            }

        }

        
/* PALLETTS */

/* 
https://coolors.co/palette/143601-1a4301-245501-538d22-73a942-aad576 GREEN used in chapters
https://coolors.co/808080-d3d3d3-ffffff-000000 GRAY used in chapter test
*/