* {
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    border-bottom: 1px solid #000000;
}

.header-menu a {
    float: left;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
}

#header-menu-title {
    color: Red;
    margin-right: 200px;
}

#change-language {
    color: green;
}

.menu-right {
    float: right;
}